<fieldset disabled>
  <label for="inputEmail3" class="col-sm-2 control-label">Alternativa:</label>
  <%= f.text_field :alternative, { class: 'form-control alternative', id: 'disabledTextInput' } %>
</fieldset>
  <label for="inputEmail3" class="col-sm-2 control-label">Resposta:</label>
  <%= f.text_area :anwser, { class: 'form-control anwser', rows: '2' } %>
